@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

:root{
    --mobile-width: 375px;
    --desktop-width: 1440px;
    /* primary colors */
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);

    /*neutral colors*/
    --main-bg-color: hsl(217, 54%, 11%);
    --card-bg-color: hsl(216, 50%, 16%);
    --line-color: hsl(215, 32%, 27%);

    --font-size : 18px;
    --font : 'Outfit', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: var(--font);
}

p{
    font-size: var(--font-size);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: var(--desktop-width);
    height: 100vh;
    background-color: var(--main-bg-color);
}

.card{
    background-color: var(--card-bg-color);
    padding: 1rem;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-container{
    width: 280px;
    height: 280px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}


.view{
    width: 280px;
    height: 280px;
    background-color: rgba(0, 255, 247, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    opacity: 0;
    cursor: pointer;
    transition: 0.7s;
}

.view:hover{
    opacity: 1;
}

.img-container > img{
    width: 280px;
    height: 280px;
    border-radius: 2%;
}

.content{
    width: 280px;
    margin-top: 25px;
}

.content > p{
    width: 300px;
    color: var(--soft-blue);
    margin-top: 20px;
    font-weight: 300;
    font-size: var(--font-size);
}

.cyan{
    color:var(--cyan);
    margin-right: 40px;
}

.content > label{
    color: white;
    font-size: var(--font-size);
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
}

.content > label:hover{
    color: var(--cyan);
}

.creator{
    margin-top: 10px;
    border-top: 1px solid var(--line-color);
    padding-top: 10px;
    display: flex;
    flex: 3;
    align-items: center;
}

.creator img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid 2px var(--line-color);
    margin-right: 10px;
}

.creator p{
    color: var(--soft-blue);
    font-weight: 400;
}

.creator span{
    color: white;
    cursor: pointer;
}
.creator span:hover{
    color: var(--cyan);
}

@media only screen and (max-width: 600px) {
    .container{
        width: var(--mobile-width);
  }
}